.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100%;
}

.container {
    position: fixed;
    top: 20vh;
    left: 35%;
    border-radius: 4px;
    padding: 15px;
}

.cart-container {
    position: fixed;
    background-color: white;
}

.order {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.checkout-container {
    display: flex;
    flex-direction: row;
}